flask
flask-sqlalchemy
flask-migrate
python-dotenv
requests
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-pinecone
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-groq
pinecone
pinecone-client
sentence-transformers
pypdf
python-multipart
gunicorn
psycopg2-binary
sqlalchemy
pytest
pytest-flask
